<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Información de Solictud</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/links/informacion_solicitud">Inicio</a></li>
              <li class="breadcrumb-item active">Configuración</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-12 connectedSortable">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Nueva Solicitud de Información de Ficha</h3>
              </div>
              <div class="container p-1">
                <div class="row">
                  <div class="card-body" >
                    <form action="" method="POST">
                        <div class="form-group px-0">
                          <div class="row">
                            <div class="container px-4">
                              <div class="row g-2">
                                <div class="col-6">
                                  <div class="p-2 border bg-light" > Tipo de Verificación
                                    <label for=""></label>
                                    <select name="idTipoVerificacion" class="form-control">
                                      <option selected>Elegir...</option>
                                      {{#each tipoVerificacion1 }}
                                      <option value="{{idTipoVerificacion}}">{{tipoVerificacion}}</option>
                                    {{/each }}
                                    </select>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="p-2 border bg-light"> Tipo de Solicitud
                                    <label for=""></label>
                                    <select name="idTipoSolicitud" class="form-control">
                                      <option selected>Elegir...</option>
                                      {{#each tipoSolictud1 }}
                                        <option value="{{idTipoSolicitud}}">{{tipoSolictud}}</option>
                                      {{/each }}
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <label for=""></label>
                            <div class="container px-4">
                              <div class="row gx-5">
                                <div class="col">
                                  <div class="p-2 border bg-light"> Tipo de Oferta
                                    <label for=""></label>
                                    <select name="estado" class="form-control">
                                      <option selected>Elergir...</option>
                                      {{#each tipoOferta1 }}
                                        <option value="{{idTipoOferta}}">{{tipoOferta}}</option>
                                      {{/each }}
                                    </select>
                                  </div>
                                </div>
                                <div class="col-6">
                                    <div class="p-2 border bg-light"> Coordinación
                                      <label for=""></label>
                                      <select name="estado" class="form-control">
                                        {{#each coordinacion1 }}
                                          <option value="{{idCoordinacion}}">{{coordinacion}}</option>
                                        {{/each }}
                                      </select>
                                    </div>
                                  </div>                                
                              </div>
                              </div>
                            </div>
                            
                          </div>
                          <div class="row">
                            <div class="col">
                              <input type="text" name="codigoPrograma" class="form-control" placeholder="Código de Programa">
                            </div>
                            <div class="col">
                              <input type="text" name="nombreFormacion" class="form-control" placeholder="Nombre de Formación" >
                            </div>
                            <div class="col">
                              <input type="text" name="instructor" class="form-control" placeholder="Nombre del Instructor" >
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-sm-06" >
                              <label for=""></label>
                              <select name="estado" class="form-control">
                                <option selected>Elergir Estado...</option>
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                              </select>
                            </div>
                          </div>  
                        <div class="row">
                          <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                          </div>
                        </div>                        
                        </div> 
                        
                          
                    </form>
                  </div>
                </div>
              </div>  
              <!-- /.card-body -->
            </div>
          </section>
          <section class="col-lg-12 connectedSortable">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Listado</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Código Programa</th>
                                <th>Nombre Formación</th>
                                <th>Instructor</th>
                                <th>Fecha Inicial</th>
                                <th>Fecha Final</th>
                                <th>Horas Total</th>
                                <th>Cumplimiento Requisito</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                             {{#each informacion_solicitud}}
                              <tr>
                                  <td>{{idInformacionSolicitud}}</td>
                                  <td>{{codigoPrograma}}</td>
                                  <td>{{nombreFormacion}}</td>
                                  <td>{{instructor}}</td>
                                  <td>{{fechaInicial}}</td>
                                  <td>{{fechaFinal}}</td>
                                  <td>{{horasTotal}}</td>
                                  <td>{{cumplimientoRequisito}}</td>
                                  <td>
                                    <div class="container">
                                        <div class="table-data-feature">
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#modificarp{{id}}" data-toggle="tooltip" data-placement="top" title="Edit">
                                                
                                            </button>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#eliminarp{{id}}"  data-toggle="tooltip" data-placement="top" title="Delete">
                                                
                                            </button>
                                        </div>
                                    </div>
                                  </td>
                              </tr>
                          {{/each}}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
</body>